<div class="card" style="width: 47rem">
  <div class="card-body">
    <div class="row">
<app-categorie-item *ngFor="let cat of categorieList let index = i " [categorie]="cat" >
 </app-categorie-item>
  </div>
</div>
</div>
