<div class="card">
  <div class="card-header">Préférence de versement</div>
  <div class="card-body mb-2">
    <p class="card-text">
      Si vous souhaitez faire des transactions, vous devez enregistrer un compte bancaire sur lequel les montants de vos ventes seront versés.
    </p>
    <div class="row float-right">
      <div class="btn btn-primary">
        Enregistrer un compte
      </div>
    </div>
  </div>
</div>
