<div class="card">
  <div class="card-header">Changer mon mot de passe</div>
  <div class="card-body">
    <form>

          <div class="form-group">
            <label for="exampleInputEmail1">Ancien mot de passe</label>
            <input class="form-control" id="exampleInputEmail1" type="password">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Nouveau mot de passe</label>
            <input class="form-control" id="exampleInputPassword1" type="password">
          </div>
        <div class="form-group">
          <label for="exampleInputPassword2">Confirmer mon nouveau mot de passe</label>
          <input class="form-control" id="exampleInputPassword2" type="password">
        </div>
        <div class="btn btn-primary">Mettre à jour mon mot de passe</div>
    </form>
  </div>
</div>


