<div class="row">
    <div class="col-xs-4" style="padding-left: 10px">
      <img src="assets/img/logo_idatabank.png" alt="logo">
    </div>
    <div class="col-xs-8" style="padding-left: 10px; padding-top: 20px">
      <h2>Commercialisez vos données<br> en toute sécurité </h2>
    </div>
</div>
