<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="#" class="navbar-brand">I-Databank</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="">
          A propos |

        </a></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">
          Conditions générales |
        </a></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Politique de confidentialité |</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Nous contacter</a>
      </li>
    </ul>

  </div>
</nav>
