<div class="d-lg-flex justify-content-lg-center">
<div class="card" style="width: 47rem">
<div class="list-group">
    <app-data-item
      *ngFor="let dataEl of categorieList" [data]="dataEl" [index]="dataEl.id">
    </app-data-item>
</div>
</div>
</div>
