<div class="col-lg-12">
   <a style="cursor: pointer"
        [routerLink]="[categorie.nom]" >
          <img src="{{categorie.imgPath}}" alt="{{categorie.nom}}" class="rounded mx-auto d-block img-thumbnail">
       {{categorie.nom}}
   </a>
</div>

