<div class="card" style="width: 47rem">
<div class="row d-flex justify-content-center">

    <div class="col-xs-12">
      <h5 style="padding-left: 20px">
        Nombres de lignes chargées
      </h5>
    </div>
  </div>
  <div class="row d-flex justify-content-center mb-3">
    <div class="col-xs-12 col-lg-9 ">
      <div *ngIf="chart">
        <canvas #canvas id="canvas">{{ chart }}</canvas>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12"><h5>Usages de la plateforme</h5></div>
  </div>
<div class="row d-flex justify-content-center">
  <div class="col-xs-12 col-lg-9">
    <div *ngIf="chart2">
      <canvas #canvas2 id="canvas2">{{ chart2 }}</canvas>
    </div>
  </div>

</div>
 </div>
