<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a href="#" class="navbar-brand">I-Databank</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">
          Home
          <span class="sr-only">(current)</span>

        </a></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/data">
          Market place
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/data">
          Fonctionalités
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/data">
          Partenaires
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/data-pricing">
          Tarifs
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/data">
          Société
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav justify-content-end">
    <li class="nav-item dropdown" ngbDropdown>
      <a style="cursor: pointer" class="nav-link dropdown-toggle" ngbDropdownToggle>Membre
        <div class="dropdown-menu" ngbDropdownMenu>
          <a style="cursor: pointer" class="dropdown-item d-inline" routerLink="/login">
            Connexion
          </a>
          <a style="cursor: pointer" class="dropdown-item d-inline">
            Inscription
          </a>
        </div>
      </a>
    </li>
    </ul>
  </div>
</nav>
