<div class="card">
  <div class="card-body">
    <h5 class="card-title">Mes offres</h5>
    <p class="card-text">
    Paramétrer les données que vous voulez commercialiser et précisant le mode d'acquision, par API, par abonnement ou par fichier.
      Une échantillon est générer à l'attention des acquéreurs potentiels.
    </p>
    <div class="btn btn-primary">
      Ajouter votre première offre
    </div>

  </div>

</div>
