
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Recherche" aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary btn-md-block" type="button" id="button-addon2">Go!</button>
      </div>
  </div>

