
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/assets/img/community.png" alt="Card image cap">
    <div class="card-body">
      <h1 class="card-title">Gratuit</h1>
      <p class="card-text">Explorez la plateforme pour trouver et monetiser des données</p>
    </div>
    <div class="card-footer">
      <p class="card-text"><button class="btn btn-primary" routerLink="/login">Créer un compte</button></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/assets/img/perso.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">A partir de </h5>
      <span style="font-size: 2.7em; font-weight: bold">250 $</span>  <span style="font-size: 1em; font-weight: bold">/ mois</span>
      <p class="card-text">Profitez des fonctionnalités avancées pour améliorer vos activités de vente et d'achat de données</p>
    </div>
    <div class="card-footer">
      <p class="card-text"><button class="btn btn-primary" routerLink="/login">Créer un compte</button></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/assets/img/pro.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">A partir de </h5>
      <span style="font-size: 2.7em; font-weight: bold">2600 $</span>  <span style="font-size: 1em; font-weight: bold">/ mois</span>
      <p class="card-text">Recevez des conseils personnalisés et plus de fonctionnalités pour une utilisation à l'échelle de l'entreprise</p>
    </div>
    <div class="card-footer">
      <p class="card-text"><button class="btn btn-primary" routerLink="/login">Créer un compte</button></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/assets/img/entreprise.png" alt="Card image cap">
    <div class="card-body">
      <h1 class="card-title text-center">Contactez nous</h1>
      <p class="card-text">Des solutions personnalisées pour les besoins de votre entreprise</p>
    </div>
    <div class="card-footer">
      <p class="card-text"><button class="btn btn-primary">Contactez-nous</button></p>
    </div>
  </div>
</div>
