<div class="container">
  <div class="wrap">
  <div class="row">
    <div class="col-lg-12">
      <app-header></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-menu></app-menu>
    </div>
  </div>
  <div class="row d-flex justify-content-center" style="padding: 10px">
    <div class="col-xs-12 col-lg-12">
      <router-outlet>

      </router-outlet>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <app-footer></app-footer>
    </div>

  </div>
</div>
</div>
