<div class="row d-flex justify-content-lg-center">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
<div class="card">
  <h5 class="card-header">
    Connexion
  </h5>
  <div class="card-body">
<form>
  <div class="form-group row">
    <label for="exampleInputEmail1" class="col-sm-4 col-form-label">Email</label>
    <div class="col-sm-8">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
    <label for="exampleInputPassword1" class="col-sm-4 col-form-label">Mot de passe</label>
    <div class="col-sm-8">
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe">
    </div>
  </div>
  <button type="button" class="btn btn-outline-primary float-right" routerLink="/user" >Connexion</button>
</form>
  </div>
</div>
</div>
</div>
