<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="card-title"><h5>Evénements</h5></div>
      <div class="list-group">
        <a style="cursor: pointer" class="list-group-item list-group-item-action"
           *ngFor="let event of events">
          <div class="row">
            <div class="col-xs-5">
              <p><strong>{{event.date}}</strong></p>
            </div>
          </div>
            <div class="row">
              <div class="col-xs-5">
              <a stlyle="cursor: pointer">{{event.title}}</a>
            </div>
            </div>
          <div class="row">
            <div class="col-xs-5">
              <p><small>{{event.address}}</small></p>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>

</div>
