
<div class="row d-flex justify-content-center">
  <div class="col-xs-12">
   <nav class="nav nav-pills">
     <a class="nav-link active" [routerLink]="['profile']">Profil</a>
     <a class="nav-link" [routerLink]="['dashboard']">Dashboard</a>
     <a class="nav-link" [routerLink]="['mail-box']">Boite réception</a>
     <a class="nav-link" [routerLink]="['offer']">Mes offres</a>
     <a class="nav-link" [routerLink]="['bills']">Mes Achats</a>
     <a class="nav-link" [routerLink]="['account']">Compte</a>
   </nav>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-xs-12 col-lg-12">
    <router-outlet></router-outlet>
  </div>
</div>
<!--
<nav class="navbar nav-pills">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['profile']" routerLinkActive="active">Profil</a></li>
        <li><a [routerLink]="['dashboard']">Tableau de bord</a></li>
        <li><a [routerLink]="['parametre']">Parametre</a></li>
      </ul>
    </div>
  </div>
</nav>-->
