<div class="card" style="width: 50rem">
  <div class="col-xs-12 col-md-12 col-lg-12 list-group">
    <app-data-item
      *ngFor="let dataEl of dataList; let i = index" [data]="dataEl" [index]="i"
      (dataSelected)="onSelectedData(dataEl)">
    </app-data-item>
  </div>
</div>

