 <div class="row">
   <div class="banner">
     <div class="col-lg-12">
       <app-banner></app-banner>
     </div>
   </div>
  </div>
  <div class="row mb-3">
    <div class="col-xs-12 col-md-6 col-lg-8">
          <app-data-categorie>

          </app-data-categorie>
        </div>
    <div class="col-xs-12 col-md-12 col-lg-4">
      <app-sidebar-left>

      </app-sidebar-left>
    </div>
  </div>
 <div class="row">

   <div class="col-xs-12 col-md-12 col-lg-8">
    <app-data-stats>

    </app-data-stats>
   </div>
   <div class="col-xs-12 col-md-12 col-lg-4">
     <app-event></app-event>
   </div>
 </div>
